{% extends "../maps/base.html" %}
{% block title %}
Brainotes - Crie mapas mentais online
{% endblock %}

{% block body %}
{% load static %}
<section class="section section-shaped my-0" >
    <div class="cover-profile-top" style="height: 250px;">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </section>
<section class="section section-skew">
    <div class="container">
      <div class="card card-profile shadow mt--300">
        <div class="px-4">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                <a href="#">
                  <center><img src="{% static "img/icone-usuario.png" %}" class="rounded-circle" style="max-width: 150px;"></center>
                </a>
              </div>
            </div>
            <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
              <!-- <div class="card-profile-actions py-4 mt-lg-0">
                <a href="#" class="btn btn-sm btn-info mr-4">Twitter</a>
                <a href="#" class="btn btn-sm btn-default float-right">Facebook</a>
              </div> -->
            </div>
            <div class="col-lg-4 order-lg-1">
              <!-- <div class="card-profile-stats d-flex justify-content-center">
                <div>
                  <span class="heading">22</span>
                  <span class="description">Seguidores</span>
                </div>
                <div>
                  <span class="heading">10</span>
                  <span class="description">Seguindo</span>
                </div>
                <div>
                  <span class="heading">89</span>
                  <span class="description">Publicações</span>
                </div>
              </div> -->
            </div>
          </div>
          <div class="text-center mt-3">
            <h3>{% if userprofile %} {{ userprofile}} {% else %} Usuário não encontrado {% endif %}
              {% if user.id == profile_id %}
                <a href="#"></a>
                  <button class="btn btn-1 btn-outline-primary" type="button">Editar perfil</button>
                </a>
              {% endif %}
            </h3>
            <div class="h6 font-weight-300">São Paulo, Brasil</div>
          </div>
          <div class="py-3 text-center">
            <div class="row justify-content-center">
              <div class="col-lg-9">
                <p>Estagiário @ PagSeguro</p>
              </div>
            </div>
          </div>
          <h3>Mapas Mentais Públicos</h3>
          <div class="row">
           
              {% for map in maps %}
            <div class="col-md-3 mb-4 mb-md-0">
              <div class="card  shadow border-0">
                <a href="{% url 'map' map.id %}" title="Landing Page">
                  <img src="{% static "img/mindmap-default-icon.png" %}" class="card-img">
                  <h5 class="title text-center pt-2">
                    <span class="d-block mb-1">{{ map.title }}</span>
                    <small class="h6 text-muted">Mapa mental resumindo os concenitos por trás do Best Seller O Poder do Hábito</small>
                  </h5>
                </a>
              </div>
            </div>
          {% empty %}
          <p>Nenhum mapa mental publicado.</p>
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}