{% extends "maps/base.html" %}
{% block title %}
Brainotes - Crie mapas mentais online
{% endblock %}

{% block body %}
{% load static %}
<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section-shaped my-0">
      <div class="shape shape-style-1 shape-default shape-skew">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container shape-container d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-8">
              <h1 class="display-2">Crie, compartilhe e aprenda
                <span> com mapas mentais</span>
              </h1>
              <p class="lead">Criar um mapa mental é a forma mais natural do cérebro aprender algo novo. Use o Brainotes para criar mapas mentais e, se quiser, compartilhe com os demais.</p>
              <a href="#" class="btn btn-primary btn-lg mb-3 mb-sm-0">
                  <span class="btn-inner--text" data-toggle="modal" data-target="#signup-form">Criar uma conta</span>
                </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>

  <section class="section section-lg">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6 order-md-1">
          <img src="{% static "img/demo.gif" %}" class="img-fluid">
        </div>
        <div class="col-md-6 order-md-2">
          <div class="pr-md-5">
            <div class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle mb-5">
              <i class="fa fa-mouse-pointer"></i>
            </div>
            <h3>Fácil de usar</h3>
            <p>Colocar as suas ideias no Brainotes é bem simples. Basta arrastar e digitar.</p>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="section section-lg">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6 order-md-2">
          <img src="{% static "img/promo-1.png" %}" class="img-fluid">
        </div>
        <div class="col-md-6 order-md-1">
          <div class="pr-md-5">
            <div class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle mb-5">
              <i class="fa fa-pencil"></i>
            </div>
            <h3>Anote tudo o que aprender</h3>
            <p>Seja lendo um livro, assistindo uma aula ou participando de uma reunião, use o Brainotes para fazer suas anotações e registrar tudo o que aprender.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section section-lg">
      <div class="container">
        <div class="row row-grid align-items-center">
          <div class="col-md-6 order-md-1">
            <img src="{% static "img/demo.gif" %}" class="img-fluid">
          </div>
          <div class="col-md-6 order-md-2">
            <div class="pr-md-5">
              <div class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle mb-5">
                <i class="fa fa-share"></i>
              </div>
              <h3>Compartilhe com quem quiser</h3>
              <p>Você pode deixar os seus mapas mentais guardados só pra você ou pode compartilhar com outras pessoas.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section section-lg">
      <div class="container">
        <div class="row row-grid align-items-center">
          <div class="col-md-6 order-md-2">
            <img src="{% static "img/promo-1.png" %}" class="img-fluid">
          </div>
          <div class="col-md-6 order-md-1">
            <div class="pr-md-5">
              <div class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle mb-5">
                <i class="fa fa-book"></i>
              </div>
              <h3>Aprenda com os demais</h3>
              <p>Aproveite para aprender coisas novas com os mapas mentais publicados por outras pessoas.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

  <section class="section section-shaped my-0 overflow-hidden">
    <div class="shape shape-style-3 bg-gradient-default shape-skew">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container pt-lg pb-300">
      <div class="row text-center justify-content-center">
        <div class="col-lg-10">
          <h2 class="display-3 text-white">Aprenda algo novo</h2>
          <p class="lead text-white">Use os mapas mentais feitos por outras pessoas para aprender algo novo.<br>
            Quer trabalhar a partir do que já foi feito? Tudo bem! Você pode editar os mapas mentais publicados e salvar na sua própria coleção.</p>
        </div>
      </div>
      <div class="row row-grid mt-5">

      </div>
    </div>
  </section>


  <section class="section section-lg no-bottom">
      <div class="container">
        <div class="row row-grid justify-content-center">
          <div class="col-lg-8 text-center">
            <h2 class="display-4">Mapas Mentais em destaque</h2>
          </div>
        </div>
      </div>
    </section>


  <section class="section section-lg has-cards">
    <div class="container container-lg">
      <div class="row">
        <div class="col-md-4 mb-5 mb-md-0">
          <div class="card  shadow border-0">
            <a href="" title="Landing Page">
              <img src="http://michelleavanci.com.br/wp-content/uploads/2017/05/O-poder-do-h%C3%A1bito-1.png" class="card-img">
              <h5 class="title text-center pt-2">
                <span class="d-block mb-1">O poder do hábito</span>
                <small class="h6 text-muted">Mapa mental resumindo os concenitos por trás do Best Seller O Poder do Hábito</small>
              </h5>
            </a>
          </div>
        </div>
        <div class="col-md-4 mb-5 mb-md-0">
          <div class="card  shadow border-0">
            <a href="" title="Landing Page">
              <img src="https://i.ytimg.com/vi/4tjNQQvQ2k4/hqdefault.jpg?sqp=-oaymwEZCPYBEIoBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLDRafZmLZXdeuHJnCc3M8M4CF-S4w" class="card-img">
              <h5 class="title text-center pt-2">
                <span class="d-block mb-1">O poder do Agora</span>
                <small class="h6 text-muted">Mapa mental resumindo os concenitos por trás do Best Seller O Poder do Hábito</small>
              </h5>
            </a>
          </div>
        </div>
        <div class="col-md-4 mb-5 mb-md-0">
          <div class="card  shadow border-0">
            <a href="" title="Landing Page">
              <img src="http://michelleavanci.com.br/wp-content/uploads/2017/05/O-poder-do-h%C3%A1bito-1.png" class="card-img">
              <h5 class="title text-center pt-2">
                <span class="d-block mb-1">O poder do hábito</span>
                <small class="h6 text-muted">Mapa mental resumindo os concenitos por trás do Best Seller O Poder do Hábito</small>
              </h5>
            </a>
          </div>
        </div>
        <div class="col-md-4 mb-5 mb-md-0">
          <div class="card  shadow border-0">
            <a href="" title="Landing Page">
              <img src="https://i.ytimg.com/vi/omjXBggpq-k/hqdefault.jpg?sqp=-oaymwEZCPYBEIoBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLD74FaUdPjz1PZ8PdehsodNh9biKQ" class="card-img">
              <h5 class="title text-center pt-2">
                <span class="d-block mb-1">O poder do hábito</span>
                <small class="h6 text-muted">Mapa mental resumindo os concenitos por trás do Best Seller O Poder do Hábito</small>
              </h5>
            </a>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="section section-lg no-bottom">
      <div class="container">
        <div class="row row-grid justify-content-center">
          <div class="col-lg-8 text-center">
            <h2 class="display-4">Mapas Mentais de livros famosos</h2>
          </div>
        </div>
      </div>
    </section>
</main>

<section class="section section-lg has-cards">
    <div class="container container-lg">
        <div class="row">
            <div class="col-md-4 mb-5 mb-md-0">
              <div class="card  shadow border-0">
                <a href="" title="Landing Page">
                  <img src="http://michelleavanci.com.br/wp-content/uploads/2017/05/O-poder-do-h%C3%A1bito-1.png" class="card-img">
                  <h5 class="title text-center pt-2">
                    <span class="d-block mb-1">O poder do hábito</span>
                    <small class="h6 text-muted">Mapa mental resumindo os concenitos por trás do Best Seller O Poder do Hábito</small>
                  </h5>
                </a>
              </div>
            </div>
            <div class="col-md-4 mb-5 mb-md-0">
              <div class="card  shadow border-0">
                <a href="" title="Landing Page">
                  <img src="https://i.ytimg.com/vi/4tjNQQvQ2k4/hqdefault.jpg?sqp=-oaymwEZCPYBEIoBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLDRafZmLZXdeuHJnCc3M8M4CF-S4w" class="card-img">
                  <h5 class="title text-center pt-2">
                    <span class="d-block mb-1">O poder do Agora</span>
                    <small class="h6 text-muted">Mapa mental resumindo os concenitos por trás do Best Seller O Poder do Hábito</small>
                  </h5>
                </a>
              </div>
            </div>
            <div class="col-md-4 mb-5 mb-md-0">
              <div class="card  shadow border-0">
                <a href="" title="Landing Page">
                  <img src="http://michelleavanci.com.br/wp-content/uploads/2017/05/O-poder-do-h%C3%A1bito-1.png" class="card-img">
                  <h5 class="title text-center pt-2">
                    <span class="d-block mb-1">O poder do hábito</span>
                    <small class="h6 text-muted">Mapa mental resumindo os concenitos por trás do Best Seller O Poder do Hábito</small>
                  </h5>
                </a>
              </div>
            </div>
            <div class="col-md-4 mb-5 mb-md-0">
              <div class="card  shadow border-0">
                <a href="" title="Landing Page">
                  <img src="https://i.ytimg.com/vi/omjXBggpq-k/hqdefault.jpg?sqp=-oaymwEZCPYBEIoBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLD74FaUdPjz1PZ8PdehsodNh9biKQ" class="card-img">
                  <h5 class="title text-center pt-2">
                    <span class="d-block mb-1">O poder do hábito</span>
                    <small class="h6 text-muted">Mapa mental resumindo os concenitos por trás do Best Seller O Poder do Hábito</small>
                  </h5>
                </a>
              </div>
            </div>

          </div>
      </div>
  </section>


  <section class="section section-lg no-bottom">
      <div class="container">
        <div class="row row-grid justify-content-center">
          <div class="col-lg-8 text-center">
            <h2 class="display-4">Mapas Mentais de Tecnologia</h2>
          </div>
        </div>
      </div>
    </section>
</main>

<section class="section section-lg has-cards">
    <div class="container container-lg">
        <div class="row">
          <div class="col-md-4 mb-5 mb-md-0">
            <div class="card  shadow border-0">
              <a href="" title="Landing Page">
                <img src="http://michelleavanci.com.br/wp-content/uploads/2017/05/O-poder-do-h%C3%A1bito-1.png" class="card-img">
                <h5 class="title text-center pt-2">
                  <span class="d-block mb-1">O poder do hábito</span>
                  <small class="h6 text-muted">Mapa mental resumindo os concenitos por trás do Best Seller O Poder do Hábito</small>
                </h5>
              </a>
            </div>
          </div>
          <div class="col-md-4 mb-5 mb-md-0">
            <div class="card  shadow border-0">
              <a href="" title="Landing Page">
                <img src="https://i.ytimg.com/vi/4tjNQQvQ2k4/hqdefault.jpg?sqp=-oaymwEZCPYBEIoBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLDRafZmLZXdeuHJnCc3M8M4CF-S4w" class="card-img">
                <h5 class="title text-center pt-2">
                  <span class="d-block mb-1">O poder do Agora</span>
                  <small class="h6 text-muted">Mapa mental resumindo os concenitos por trás do Best Seller O Poder do Hábito</small>
                </h5>
              </a>
            </div>
          </div>
          <div class="col-md-4 mb-5 mb-md-0">
            <div class="card  shadow border-0">
              <a href="" title="Landing Page">
                <img src="http://michelleavanci.com.br/wp-content/uploads/2017/05/O-poder-do-h%C3%A1bito-1.png" class="card-img">
                <h5 class="title text-center pt-2">
                  <span class="d-block mb-1">O poder do hábito</span>
                  <small class="h6 text-muted">Mapa mental resumindo os concenitos por trás do Best Seller O Poder do Hábito</small>
                </h5>
              </a>
            </div>
          </div>
          <div class="col-md-4 mb-5 mb-md-0">
            <div class="card  shadow border-0">
              <a href="" title="Landing Page">
                <img src="https://i.ytimg.com/vi/omjXBggpq-k/hqdefault.jpg?sqp=-oaymwEZCPYBEIoBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLD74FaUdPjz1PZ8PdehsodNh9biKQ" class="card-img">
                <h5 class="title text-center pt-2">
                  <span class="d-block mb-1">O poder do hábito</span>
                  <small class="h6 text-muted">Mapa mental resumindo os concenitos por trás do Best Seller O Poder do Hábito</small>
                </h5>
              </a>
            </div>
          </div>

        </div>
      </div>
  </section>
  <ul>
    {% for map in maps %}
      <li>
        <a href="{% url 'map' map.id %}">{{ map.title }}</a>
      </li>
    {% empty %}
    No Mindmaps found.
    {% endfor %}
  </ul>
{% endblock %}
