{% extends "maps/base.html" %}
{% block title %}
Brainotes - Crie mapas mentais online
{% endblock %}

{% block body %}
{% load static %}
<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section-shaped my-0">
      <div class="shape shape-style-1 shape-default shape-skew">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container shape-container d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-8">
              <h1 class="display-2">Crie, compartilhe e aprenda
                <span> com mapas mentais</span>
              </h1>
              <p class="lead">Criar um mapa mental é a forma mais natural do cérebro aprender algo novo. Use o Brainotes para criar mapas mentais e, se quiser, compartilhe com os demais.</p>
              <a href="#" class="btn btn-primary btn-lg mb-3 mb-sm-0">
                  <span class="btn-inner--text" data-toggle="modal" data-target="#signup-form">Criar uma conta grátis</span>
                </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>
 
  {% for listing in listings %}
  <section class="section section-lg no-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
              <h2>
                  {{ listing.title }}
                </h2>
          </div>
        </div>
      </div>
    </section>


  <section class="section section-lg has-cards">
    <div class="container container-lg">
      <div class="row">
        {% for map in listing.maps.all %}
        <div class="col-md-4 mb-5 mb-md-8">
          <div class="card  shadow border-0">
            <a href="{% url 'map' map.id %}" title="Landing Page">
              <img src="{% if map.imageurl %} {{ map.imageurl }} {% else %} {% static 'img/mindmap-default-icon.png' %} {% endif %}" class="card-img">
              <h5 class="title text-center pt-2">
                <span class="d-block mb-1">{% if map.title %}{{ map.title }} {% else %} <i>Sem título</i>{% endif %}</span>
                <small class="h6 text-muted">{% if map.description %}{{ map.description|truncatechars:100}} {% else %} <i>Sem descrição</i> {% endif %}</small>
              </h5>
            </a>
          </div>
        </div>
        {% endfor %}
        <div class="col-md-4 mb-5 mb-md-8">
          <div class="card  shadow border-0" style="background: #E5E5E5; height: 100%; display: flex; justify-content: center; align-items: center;">
              <a href="{% url 'listing' listing.id %}" style="font-size: 36px; color: #666; font-weight: 300; 
              position: absolute; top: 40%;
            ">Ver mais
                </a>
          </div>
        </div>

      </div>
    </div>
  </section>

  {% endfor %}
{% endblock %}
