{% extends "../maps/base.html" %}
{% block title %}
Brainotes - Crie mapas mentais online
{% endblock %}

{% block body %}
{% load static %}

<section class="section section-lg has-cards">
    <div class="container container-lg">
        <h2>{{ listing.title }}</h2>
      
        <div class="row">
          {% for map in maps %}
            <div class="col-md-3 mb-4 mb-md-0">
              <div class="card  shadow border-0">
                <a href="{% url 'map' map.id %}" title="Landing Page">
                  <img src="{% if map.imageurl %} {{ map.imageurl }} {% else %} {% static 'img/mindmap-default-icon.png' %} {% endif %}" class="card-img">
                  <h5 class="title text-center pt-2">
                    <span class="d-block mb-1">{% if map.title %}{{ map.title }} {% else %} <i>Sem título</i>{% endif %}</span>
                    <small class="h6 text-muted">{% if map.description %} {{ map.description|truncatechars:100 }} {% else %} <i>Sem descrição</i> {% endif %}</small>
                  </h5>
                </a>
              </div>
            </div>
          {% empty %}
          Nenhuma mapa encontrado nesta lista
          {% endfor %}
          
        </div>

        <div class="row">
         <br><br>
         <a href="{% url 'alllistings' %}">Ver todas as listas</a>
        </div>
  </div>
  </section>
{% endblock %}
