{% extends "../maps/base.html" %}
{% block title %}
Brainotes - Crie mapas mentais online
{% endblock %}

{% block body %}
{% load static %}
<section class="section section-lg has-cards">
  <div class="container container-lg">
  <h1>Listas de Mapas Mentais Públicos</h1>
  
    {% for listing in listings %}
      <div class="row">
        <div class="col-md-12">
            <h2>
                {{ listing.title }}
              </h2>
        </div>
      </div>
      
      <div class="row">
        {% for map in listing.maps.all %}
          <div class="col-md-3 mb-4 mb-md-0">
            <div class="card  shadow border-0">
              <a href="{% url 'map' map.id %}" title="Landing Page">
                <img src="{% if map.imageurl %} {{ map.imageurl }} {% else %} {% static 'img/mindmap-default-icon.png' %} {% endif %}" class="card-img">
                <h5 class="title text-center pt-2">
                  <span class="d-block mb-1">{{ map.title }}</span>
                  <small class="h6 text-muted">{% if map.description %} {{ map.description|truncatechars:100 }} {% else %} <i>Sem descrição</i> {% endif %}</small>
                </h5>
              </a>
            </div>
          </div>
        {% endfor %}
        <div class="col-md-3 mb-4 mb-md-0">
          <div class="card  shadow border-0" style="background: #E5E5E5; height: 100%; display: flex; justify-content: center; align-items: center;">
              <a href="{% url 'listing' listing.id %}" style="font-size: 36px; color: #666; font-weight: 300; 
              position: absolute; top: 40%;
            ">Ver mais
                </a>
            
          </div>
        </div>
      </div>

      <div class="row">
          <br>
      </div>
    {% empty %}
    Nenhuma lista de mapas mentais encontrada
    {% endfor %}
    
</div>
</section>
{% endblock %}
