
{% extends "../maps/base.html" %}
{% block title %}
Brainotes - Crie mapas mentais online
{% endblock %}

{% block body %}
{% load static %}
<div class="container">
  <h2>Meus mapas mentais</h2>
  <a href="{% url 'newmindmap'%}" class="btn btn-icon btn-primary">
    <span class="btn-inner--icon" color="white"><i class="fa fa-plus"></i></span>
    <span class="btn-inner--text">Novo mapa mental</span>
  </a>
  <a href="{% url 'alllistings'%}" class="btn btn-icon btn-default">
    <span class="btn-inner--icon" color="white"><i class="fa fa-list"></i></span>
    <span class="btn-inner--text">Listas de mapas mentais públicas</span>
  </a>
  <br><br>
    {% for map in maps %}
      <div class="map-listing row">
        <div class="col-md-4 col-sm-12">
          <center>
            <img class="img-fluid" style="right: 0; max-width: 240px;" src="{% if map.imageurl %} {{ map.imageurl }} {% else %} {% static 'img/mindmap-default-icon.png' %} {% endif %}"/>
          </center>
        </div>
        <div class="col-md-8 col-sm-12">
          <a href="{% url 'map' map.id %}">
            <h3 class="map-listing-title">{{ map.title }}</h3>
          </a>
          <p class="map-listing-description">{% if map.description %}{{ map.description }} {% else %} <i>Sem descrição</i> {% endif %}</p>
          <p class="map-listing-date">{% if map.lastchange %}{{ map.lastchange }} {% endif %}</p>
        </div>
      </div><br>
    {% empty %}
    No Mindmaps found.
    {% endfor %}
</div>
{% endblock %}
