
{% extends "../maps/base.html" %}
{% block title %}
Brainotes - Crie mapas mentais online
{% endblock %}

{% block body %}
{% load static %}
<div class="container">
  <h2>Meus mapas mentais</h2>
  <a href="{% url 'newmindmap'%}" class="btn btn-icon btn-primary">
    <span class="btn-inner--icon" color="white"><i class="fa fa-plus"></i></span>
    <span class="btn-inner--text">Novo mapa mental</span>
  </a>
  <a href="{% url 'alllistings'%}" class="btn btn-icon btn-default">
    <span class="btn-inner--icon" color="white"><i class="fa fa-list"></i></span>
    <span class="btn-inner--text">Listas de mapas mentais</span>
  </a>
  <br><br>
    {% for map in maps %}
      <div class="map-listing row">
        <div class="col-md-4 col-sm-12">
          <center>
            <img class="img-fluid" src="https://i.ytimg.com/vi/omjXBggpq-k/hqdefault.jpg?sqp=-oaymwEZCPYBEIoBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLD74FaUdPjz1PZ8PdehsodNh9biKQ">
          </center>
        </div>
        <div class="col-md-8 col-sm-12">
          <a href="{% url 'map' map.id %}">
            <h3 class="map-listing-title">{{ map.title }}</h3>
          </a>
          <a href="{% url 'map' map.id %}">
            <p class="map-listing-description">{% if map.description %}{{ map.description }} {% else %} blwbcwe rwekcbwklec kewrcerwc {% endif %}</p>
          </a>
          <p class="map-listing-date">{% if map.description %}{{ map.description }} {% else %} Criado dia 10/09/2018 - 11:14 {% endif %}</p>
        </div>
      </div>
    {% empty %}
    No Mindmaps found.
    {% endfor %}
</div>
{% endblock %}
