
{% extends "../maps/base.html" %}
{% block title %}
Brainotes - Crie mapas mentais online
{% endblock %}

{% block body %}
{% load static %}
<div class="container">
  <h2>Meus mapas mentais</h2>
  <a href="{% url 'newmindmap'%}" class="btn btn-icon btn-primary">
    <span class="btn-inner--icon" color="white"><i class="ni ni-bag-17"></i></span>
    <span class="btn-inner--text">Novo mapa mental</span>
  </a>
  <a href="{% url 'alllistings'%}" class="btn btn-icon btn-default">
    <span class="btn-inner--icon" color="white"><i class="ni ni-bag-17"></i></span>
    <span class="btn-inner--text">Listas de mapas mentais</span>
  </a>
  <br><br>
  <ul>
    {% for map in maps %}
      <li>
        <a href="{% url 'map' map.id %}">{{ map.title }}</a>
      </li>
    {% empty %}
    No Mindmaps found.
    {% endfor %}
  </ul>
</div>
{% endblock %}
